/*Micelanea*/
:root {
  font-size: 10px; }

body {
  font-family: oxygen;
  background-color: #1a1919;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%23212124' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); }

.section__bienvenida {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear; }

.section__bienvenida:hover {
  box-shadow: 0 2px 30px #06adf0; }

/*////// BREADCRUMBS//////*/
.contact__breadcrumbs {
  padding: 1rem;
  font-family: sans-serif; }

.breadcrumbs__item:not(:last-of-type)::after {
  content: "/";
  margin: 0 0.5rem;
  color: #cccccc; }

.breadcrumbs__link {
  text-decoration: none;
  color: #cccccc;
  font-size: 1.5rem;
  font-weight: bold; }

.breadcrumbs__link:hover {
  color: #06adf0; }

/* ##### Separador #######*/
.contact__separador {
  background-color: initial;
  background-image: linear-gradient(90deg, transparent, #06adf0, transparent);
  border: 0;
  height: 0.1rem !important;
  max-width: 100%;
  opacity: 1;
  margin: 45px 0; }

.separador_2 {
  background-color: initial;
  background-image: linear-gradient(90deg, transparent, #06adf0, transparent);
  border: 0;
  height: 0.1rem !important;
  max-width: 100%;
  opacity: 1;
  margin: 12px 0px; }

/* logo semi transparente */
.contact .contact__logo {
  width: 9rem;
  height: 9rem; }
  .contact .contact__logo img {
    opacity: 1;
    object-fit: cover;
    width: 100%;
    height: 100%; }

.contact .contact__box {
  margin-bottom: 3rem;
  /*######## modelado de parrafo ########*/ }
  .contact .contact__box .contact__box--titulo_texto {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding: 0; }
  .contact .contact__box ::selection {
    text-shadow: 0 2px 12px #06adf0; }
  .contact .contact__box .contact__box--contenedor-formu {
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 8px;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
    /*formulario*/ }
    .contact .contact__box .contact__box--contenedor-formu:hover {
      box-shadow: 0 2px 30px #06adf0; }
    .contact .contact__box .contact__box--contenedor-formu .formulario {
      margin: 30px 0;
      padding: 20px; }
      .contact .contact__box .contact__box--contenedor-formu .formulario .campos {
        border-radius: 8px;
        background: none;
        color: #fff;
        padding-top: 20px;
        border: none;
        outline: 0px; }
      .contact .contact__box .contact__box--contenedor-formu .formulario .area_texto {
        border: none;
        outline: 1px;
        background-color: rgba(255, 255, 255, 0.24);
        color: #fff;
        border-radius: 8px; }
      .contact .contact__box .contact__box--contenedor-formu .formulario ::placeholder {
        color: #06adf0; }
    .contact .contact__box .contact__box--contenedor-formu ::selection {
      text-shadow: 0 2px 12px #06adf0; }
    .contact .contact__box .contact__box--contenedor-formu .enviar {
      width: 120px;
      padding: 7px 0;
      border: 2px solid #06adf0;
      border-radius: 50px;
      text-decoration: none;
      text-align: center;
      -webkit-transition: 0.5s linear;
      transition: 0.5s linear;
      background: none;
      color: #ffffff; }
    .contact .contact__box .contact__box--contenedor-formu .enviar:hover {
      box-shadow: 0 1px 20px #06adf0; }

.about {
  margin-top: 5rem; }
  .about .about__nosotros {
    height: auto;
    box-sizing: border-box; }
    .about .about__nosotros h1 {
      font-family: oxygen;
      color: #ffffff; }
    .about .about__nosotros .about__nosotros--contenido {
      background-color: rgba(255, 255, 255, 0.24);
      border-radius: 8px;
      -webkit-transition: 0.5s linear;
      transition: 0.5s linear;
      padding: 0.5rem;
      box-sizing: border-box;
      font-family: Oxygen;
      font-weight: bold;
      color: #ffffff;
      font-size: 1.5rem; }
      .about .about__nosotros .about__nosotros--contenido:hover {
        box-shadow: 0 2px 30px #06adf0; }

.servicios__container {
  height: auto;
  box-sizing: border-box; }
  .servicios__container h1 {
    font-family: oxygen;
    color: #ffffff; }
  .servicios__container .servicios__container--contenido {
    font-family: Oxygen;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 8px;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
    padding: 0.5rem;
    box-sizing: border-box; }
    .servicios__container .servicios__container--contenido:hover {
      box-shadow: 0 2px 30px #06adf0; }

/*############ footer ##########*/
.footer {
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.1); }
  .footer .footer--box .nav .nav-item .social-media:hover {
    color: #06adf0; }
