/*Micelanea*/
:root {
  font-size: 10px; }

body {
  margin: 0px;
  padding: 0px;
  font-family: oxygen;
  background-image: url(./img/fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

/*############ footer ##########*/
.footer {
  height: 20rem;
  background-color: rgba(100, 100, 100, 0.8); }
  .footer .footer--box .nav .nav-item .social-media:hover {
    color: #06adf0; }

/* ##### Separador #######*/
.contact__separador {
  background-color: initial;
  background-image: linear-gradient(90deg, transparent, #06adf0, transparent);
  border: 0;
  height: 0.1rem !important;
  max-width: 100%;
  opacity: 1;
  margin: 45px 0; }

.separador_2 {
  background-color: initial;
  background-image: linear-gradient(90deg, transparent, #06adf0, transparent);
  border: 0;
  height: 0.1rem !important;
  max-width: 100%;
  opacity: 1;
  margin: 12px 0px; }

.section-logo .section-logo__box .section-logo-box__contLogo {
  filter: drop-shadow(0 0.4rem 1rem rgba(0, 0, 1, 0.928)); }

.section-logo .section__bienvenida .titulo {
  font-size: 4rem;
  color: black;
  -webkit-animation: texto-borroso-fadein 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate-reverse both;
  animation: texto-borroso-fadein 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate-reverse both; }

@-webkit-keyframes texto-borroso-fadein {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01); }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%); } }

@keyframes texto-borroso-fadein {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01); }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%); } }

.section-compraOnline .section-compraOnline__cajaPrincipal {
  background-color: rgba(213, 225, 224, 0.9); }

.about {
  margin-top: 5rem; }
  .about .about__nosotros {
    height: auto;
    box-sizing: border-box; }
    .about .about__nosotros h1 {
      font-family: oxygen;
      color: #ffffff; }
    .about .about__nosotros .about__nosotros--contenido {
      background-color: rgba(100, 100, 100, 0.8);
      border-radius: 8px;
      -webkit-transition: 0.5s linear;
      transition: 0.5s linear;
      padding: 0.5rem;
      box-sizing: border-box;
      font-family: Oxygen;
      font-weight: bold;
      color: #ffffff;
      font-size: 1.5rem; }
      .about .about__nosotros .about__nosotros--contenido:hover {
        box-shadow: 0 2px 30px #06adf0; }

.servicios__container {
  height: auto;
  box-sizing: border-box; }
  .servicios__container h1 {
    font-family: oxygen;
    color: #ffffff; }
  .servicios__container .servicios__container--contenido {
    font-family: Oxygen;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5rem;
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 8px;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
    padding: 0.5rem;
    box-sizing: border-box; }
    .servicios__container .servicios__container--contenido:hover {
      box-shadow: 0 2px 30px #06adf0; }

.sectionFlota {
  height: auto;
  box-sizing: border-box; }
  .sectionFlota h1 {
    font-family: oxygen;
    color: #ffffff; }

/* logo semi transparente */
.contact .contact__logo {
  width: 9rem;
  height: 9rem; }
  .contact .contact__logo img {
    opacity: 1;
    object-fit: cover;
    width: 100%;
    height: 100%; }

.contact .contact__box {
  margin-bottom: 3rem;
  /*######## modelado de parrafo ########*/ }
  .contact .contact__box .contact__box--titulo_texto {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding: 0; }
  .contact .contact__box ::selection {
    text-shadow: 0 2px 12px #06adf0; }
  .contact .contact__box .contact__box--contenedor-formu {
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 8px;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
    /*formulario*/ }
    .contact .contact__box .contact__box--contenedor-formu:hover {
      box-shadow: 0 2px 30px #06adf0; }
    .contact .contact__box .contact__box--contenedor-formu .formulario {
      margin: 1rem 0;
      padding: 1rem; }
      .contact .contact__box .contact__box--contenedor-formu .formulario .campos {
        border-radius: 8px;
        background: none;
        color: #fff;
        padding-top: 20px;
        border: none;
        outline: 0px; }
      .contact .contact__box .contact__box--contenedor-formu .formulario .area_texto {
        border: none;
        outline: 1px;
        background-color: rgba(255, 255, 255, 0.24);
        color: #fff;
        border-radius: 8px; }
      .contact .contact__box .contact__box--contenedor-formu .formulario ::placeholder {
        color: #06adf0; }
    .contact .contact__box .contact__box--contenedor-formu ::selection {
      text-shadow: 0 2px 12px #06adf0; }
    .contact .contact__box .contact__box--contenedor-formu .enviar {
      width: 120px;
      padding: 7px 0;
      border: 2px solid #06adf0;
      border-radius: 50px;
      text-decoration: none;
      text-align: center;
      -webkit-transition: 0.5s linear;
      transition: 0.5s linear;
      background: none;
      color: #ffffff; }
    .contact .contact__box .contact__box--contenedor-formu .enviar:hover {
      box-shadow: 0 1px 20px #06adf0; }

.sectionRrhh {
  height: auto;
  box-sizing: border-box; }
  .sectionRrhh h1 {
    font-family: oxygen;
    color: #ffffff; }
  .sectionRrhh .sectionRrhh-contenedorForm {
    font-family: Oxygen;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5rem;
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 8px;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
    padding: 0.5rem;
    box-sizing: border-box; }
    .sectionRrhh .sectionRrhh-contenedorForm:hover {
      box-shadow: 0 2px 30px #06adf0; }
