/*############ footer ##########*/
.footer {
  height: 20rem;
  background-color: rgba(100, 100, 100, 0.800);
  .footer--box {
    .nav {
      .nav-item {
        .social-media:hover {
          color: #06adf0;
        }
      }
    }
  }
}
