.section__bienvenida {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.section__bienvenida:hover {
  box-shadow: 0 2px 30px #06adf0;
}
.section-logo{
  .section-logo__box{
    .section-logo-box__contLogo{
      filter: drop-shadow(0 0.4rem 1rem rgba(0, 0, 1, 0.928));


    }


  }
}

